/*-----------------------------------------------------------Colours*/

.bg-color-header-contact {
    background-color: #fff;
}

.bg-color-header-navbar {
    background-color: rgb(31, 16, 165);
}

.bg-color-footer {
    background-color:rgb(31, 16, 165);
}

/*-----------------------------------------------------------Header*/

header {
    margin: 0;
}

.heading {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.heading h2 {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}

.heading h3 {
    font-weight: 100;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}

.icon {
    color:rgb(31, 16, 165);
    text-align: right;
    font-size: 32px;
    padding-left: 40px;
}

.logowhite {
    background: url("/assets/images/logowhite.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    background-color: none;
}

.menucontainer {
    font-size: 0;
}

.navbar-header {
    height: 60px;
    text-align: center;
    padding: 0;
}

.menuitem {
    font-size: 18px;
    padding: 0;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.menuitem a {
    text-decoration: none;
    color: #fff;
}

.socialitem-header {
    font-size: 36px;
    padding: 0;
}

.socialitem-header a {
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

#social, #nav {
    line-height: 50px;
}

.active {
    font-weight: 700;
}

/*-----------------------------------------------------------Footer*/

.socialfooter {
    padding: 0 50px;
    text-align: center;
}

#socfoot li a i {
    color:rgb(238, 159, 13);
}

.footercontact {
    list-style: none;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-right: 30px;
    white-space: nowrap;
}

.footer-contact-opening h2 {
    color: #fff;
    padding-left: 40px;
    font-weight: 400;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}

.footer-contact-opening hr {
    border: 1px solid #fff;
    width: 50%;
}

.ul-contact-footer li {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.ul-contact-footer {
    padding-left: 60px;
}

.footersignup {
    list-style: none;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-left: 40px;
}

.footbar {
    padding-top: 30px;
}

.logoblue {
    background: url("/assets/images/logoblue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    background-color: none;
}

.address {
    list-style: none;
}

.footlogo {
    padding-top: 30px;
}